* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor-principal {
  background-color: #0c0c0c;
  height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 517.1428833007812px auto;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
